<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Postage</title>
</head>
<body>
   <h1>Postage</h1>
   <p>Package type: <%= body.pkg%></p>
   <p>Package Weight: <%= body.weight%></p>
   <p>Price: <%= result.price%></p>
</body>
</html>